.header {
  background: url("../images/header-background.png") center;
  background-size: cover;
  padding: 35px 0 35px;
  .logo {
    margin-top: 20px;
    .disabled {
      pointer-events: none;
    }
  }
  .curs {
    height: 137px;
  }
  .phone {
    font-size: 30px;
    position: relative;
    b {
      font-weight: 900;
    }
    &:before {
      content: '';
      position: absolute;
      @include size(20px);
      background: url("../images/header-phone.png");
      left: -30px;
      top: 13px;
    }
  }
  .mail {
    color: $red;
    font-size: 18px;
    text-decoration: underline!important;
  }
  .button {
    margin-top: 15px;
  }
}

nav {
  display: block;
  background-color: #f2eeeb;
  background-image: linear-gradient(to top, #972420 0%, #972420 47%, #a33a1e 53%, #a33a1e 100%);
  .menu {
    a {
      padding: 20px 37px;
      display: block;
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
    }
    & > li {
      $orange: rgba(#bd5f17, 0.5);
      border-left: 1px solid rgba(#f2eeeb, 0.3);
      transition: .3s background;
      position: relative;
      &:hover {
        background-color: $orange;
      }
      &.open {
        background-color: $orange;
        & > .dropdown-menu {
          display: block;
        }
      }
      & > a[data-toggle=dropdown] {
        &:after {
          content: '';
          position: absolute;
          @include size(20px, 11px);
          background: url("../images/dropdown.png");
          bottom: 8px;
          right: 0;
          left: 0;
          margin: 0 auto;
        }
      }
    }
    .dropdown-menu {
      width: 100%;
      min-width: 0;
      background-color: rgba(#972420, .95);
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 3px 0 20px 0;
      li {
        padding: 12px 0 0 12px;
        a {
          font-size: 16px;
          font-weight: 400;
          text-decoration: underline;
          padding: 0;
          text-transform: none;
          &.sub-open {
            position: relative;
            &:after {
              content: '';
              position: absolute;
              @include size(20px, 11px);
              background: url("../images/dropdown.png");
              right: 30px;
              top: 7px;
              transform: rotate(-90deg);
            }
            &:hover + .dropdown-menu {
              display: block;
            }
          }
        }
      }
      .dropdown-menu {
        top: 0;
        left: 100%;
        &:hover {
          display: block;
        }
      }
    }
  }
}

@media ($lg) {
  .header {
    .logo {
      img {
        max-width: 230px;
      }
    }
    .curs {
      height: 130px;
    }
  }
  nav{
    .menu {
      a {
        padding: 20px 25px;
      }
      .dropdown-menu li a[data-toggle=dropdown]:after {
        right: 10px;
      }
    }
  }
}

@media ($md) {
  .header {
    .logo {
      margin-top: 30px;
      img {
        max-width: 210px;
      }
    }
    .phone {
      &:before {
        display: none;
      }
    }
  }
  nav{
    .menu {
      a {
        padding: 20px 15px;
        font-size: 15px;
      }
      .dropdown-menu {
        min-width: 150%;
        .dropdown-menu {
          min-width: 100%;
        }
      }
    }
  }
}

@media ($sm) {
  .header {
    background-size: cover;
  }
  nav {
    display: none;
    margin: 0;
    .menu {
      text-align: center;
      li {
        border-left: none;
      }
      .dropdown-menu {
        position: relative;
        min-width: 0;
        left: 0;
        width: 100%;
        .dropdown-menu{
          left: 0;
        }
      }
    }
  }
}